<!DOCTYPE html>
<html>
    <head>
        <title>Express-Passport example</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Welcome To Homepage with <br/> <h2>Express-Passport example</h2></div>
        <% if (!isLogged ) { %>

        	<div><a href="/login">Login Now</a></div>
        <% } else { %>
        	<div><span>Hello, <%= user.name %>!</span> <a href="/logout">LogOut</a> </div>
        <% } %>
        
        <div><h2><a href="/api">API</a></h2></div>


    </body>
</html>
