
<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
   		<div>
   			<h2>Login</h2>
   			<form method="post" action="/login">
   				<input type="text" name="username" placeHolder="Username">
   				<input type="password"	name="password" placeHolder="Password">
   				<input type="submit" value="Log in"> 
   			</form>
   		</div>
    </body>
</html>
