<!DOCTYPE html>
<html>
    <head>
        <title>Register new account!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
   		<div>
   			<h2>Sign Up</h2>
   			<form method="post" action="/signup">
                            <input type="text" name="username" placeHolder="Username"> <br/>   				
                                <input type="text" name="email" placeHolder="E-mail"><br/>
   				<input type="password"	name="password" placeHolder="Password"><br/>
                                <input type="password"	name="confirm_password" placeHolder="Confirm Password"><br/>

   				<input type="submit" value="Sign Up"> 
   			</form>
   		</div>
    </body>
</html>
